body {
    background-color: rgb(6, 77, 78);
    background-image: url("imageone.jpg");
    background-position: center;
    background-repeat: repeat;
    color:black;
}
/*padding is space between the sentence*/

h1{
    color: black;
    background-color: rgb(255, 255, 255);
    font: italic 200% fantasy;
    text-align: center;
    border: 3px groove rgb(166, 233, 10);
    width: fit-content;
    padding: 10px;
}

h2{
    color: black;
    background-color: orange;
    width: fit-content;
    padding: 10px;
}

h3{
    color: black;
    background-color: chartreuse;
    width: fit-content;
    padding: 10px;
}

h4{
    color: black;
    background-color: darkmagenta;
    width: fit-content;
    padding: 10px;
    
}

img{
    width: 400px;
    height: 300px;
    border-radius: 10px;

}

a {
    background-color: coral;
    color: rgb(231, 225, 226);
    padding: 5px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: inherit;
    font-weight: 200;
    border-radius: 5px;
}

/*a:hover is to make the text change color when being hovered upon*/
a:hover {
    background-color: rgb(43, 118, 131);
    color: rgb(145, 180, 18);
    padding: 10px;

} 

table{
    background-color: rgb(18, 187, 122);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 500px;
}


/* Classes --- you can change a particular tag using the class --- all you need is just a dot noation*/

.TopNav {  /* Top Navigation-- . is start of class*/

    background-color: ivory;
    width: auto;
    padding: 10px;
}
